/* @import url('https://fonts.googleapis.com/css?family=Arizonia'); */
/* @import url('https://fonts.googleapis.com/css?family=Oswald|Poppins'); */

/* latin-ext */
@font-face {
	font-family: 'Arizonia';
	font-style: normal;
	font-weight: 400;
	src: local('Arizonia Regular'), local('Arizonia-Regular'), url(../fonts/neIIzCemt4A5qa7mv5WPFqwKUQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Arizonia';
	font-style: normal;
	font-weight: 400;
	src: local('Arizonia Regular'), local('Arizonia-Regular'), url(../fonts/neIIzCemt4A5qa7mv5WBFqw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(../fonts/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(../fonts/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(../fonts/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.fa-poppin {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.fa-theme-red {
	color: #E9204F;
	font-weight: bold;
}

html {
	background: #fff;
	scroll-behavior: smooth;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

header {
	padding: 10px 0;
	text-align: center;
	background-image: url('../images/diet-slider-10.jpg');
}

.logo {
	max-width: 105px;
	position: absolute;
}

.navbar {
	background-color: #1b1b1b;
}

.navbar-brand {
	font-family: 'Arizonia', cursive;
	font-size: 3.5rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 60px;
	margin-right: 0;
	color: #E9204F !important;
}

.logoheader {
	max-width: 150px;
}

@media (max-width: 576px) {
	.navbar-brand {
		font-size: 3rem;
	}
	.logoheader {
		max-width: 100px;
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		font-size: 3.5rem;
	}
}

@media (min-width: 992px) {
	.navbar-brand {
		font-size: 3.5rem;
	}
}

@media (min-width: 1200px) {
	.navbar-brand {
		font-size: 3.5rem;
	}
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #fff !important;
}

:root {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	/* background-color: #fff;  */
	background: #333333;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #dd1818, #333333);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #dd1818, #333333);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #888;
	/* margin: 0; */
	-webkit-font-smoothing: antialiased;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5em;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.intro {
	text-align: center;
}

.intro h1 {
	color: #EFEFEF;
	font-size: 3rem;
	margin: 60px 0 0;
	font-weight: bold;
	font-family: monospace;
}

@media screen and (min-width: 800px) {
	.intro h1 {
		font-size: 4rem;
	}
}

.intro p {
	color: #E0CF79;
	font-size: 1.3rem;
	line-height: 1.5;
}

.intro a {
	color: #40DFBB;
	font-weight: bold;
	text-decoration: none;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background: transparent;
	color: #333;
	font-size: 1.8rem;
	/* min-height: 300px; */
	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* text-align: center; */
}

.content-tab-swiper {
	padding-top: 60px;
}

.swiper-container-horizontal>.swiper-pagination {
	top: 0;
	bottom: auto;
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
	margin: 0;
}

.active-mark {
	background: #E9204F;
	width: 33.3%;
	height: 4px;
	position: absolute;
	left: 0;
	top: 52px;
	transition: left 0.2s ease-out;
}

.swiper-pagination-bullet {
	background-color: #E9204F;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: bold !important;
	opacity: 1;
	height: 56px;
	width: 33.3%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: font-weight 0.22s ease;
}

.swiper-pagination-bullet:nth-of-type(1).swiper-pagination-bullet-active~.active-mark {
	left: 0%;
}

.swiper-pagination-bullet:nth-of-type(2).swiper-pagination-bullet-active~.active-mark {
	left: 33.3%;
}

.swiper-pagination-bullet:nth-of-type(3).swiper-pagination-bullet-active~.active-mark {
	left: 66.6%;
}


/* .swiper-pagination-bullet:nth-of-type(4).swiper-pagination-bullet-active ~ .active-mark { */


/* left: 75%; */


/* } */

.swiper-pagination-bullet:first-of-type.swiper-pagination-bullet-active~.active-mark {
	left: 0;
}

.swiper-pagination-bullet-active {
	font-weight: 800 !important;
	background: #1b1b1b;
	color: #E9204F;
}

.swiper-pagination-bullet:hover {
	background: #1b1b1b;
	color: #E9204F;
	border-bottom: 4px solid #E9204F;
}

.nicescroll-rails {
	z-index: 1 !important;
}

.scrolltop {
	display: none;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 20px;
	right: 10px;
}

.scroll {
	border-radius: 25px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #1b1b1b;
	/* background:#b2b2b2; */
	/* background:#E9204F; */
	padding: 20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor: pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	background-image: linear-gradient(to bottom, #dd1818, #333333);
}

.scroll:hover {
	color: #E9204F;
	background: #1b1b1b;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.scroll:hover .fa {
	padding-top: -10px;
}

.scroll .fa {
	font-size: 20px;
	margin-top: -5px;
	margin-left: 1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

@keyframes showup {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slidein {
	0% {
		margin-left: -800px;
	}
	20% {
		margin-left: -800px;
	}
	35% {
		margin-left: 0px;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0px;
	}
	20% {
		opacity: 1;
		width: 0px;
	}
	30% {
		width: auto;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: auto;
	}
}

@media screen and (max-width: 615px) {
    .logo {
         	position:unset;
		 display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width:50%;
	}
	
	.small-header {
		display:block;
	}
}

@media screen and (min-width: 616px){
	.small-header {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.small-header:first-of-type {
		animation: showup 7s infinite;
	}

	.small-header:last-of-type {
		width: 0px;
		animation: reveal 7s infinite;
	}

	.small-header:last-of-type span {
		margin-left: -355px;
		animation: slidein 7s infinite;
	}
}
