#landingImg{
	border-radius:170px;
}

#sectionAbout{
	display:none;
}

.next-section{
	position:fixed;
	right:15px;
	bottom:15px;
	width:50px;
	height:50px;
	text-align:center;
	color:#fff;
	background:#1E84E7;
	line-height:45px;
	border-radius:50px;
	font-size:35px;
	padding-top:3px;
	padding-left:3px;
}

.next-section:focus,.next-section:hover{color:#fff;}
			
.next-section:hover{background:#57ADFE;}
			
.next-section i{font-weight:800;}

.header-image{
	max-width:100px;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#landingImg{
		border-radius:115px;
	}
	
	.header-image{
		max-width:70px;
	}
	
	h2{
		font-size:30px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#landingImg{
		border-radius:115px;
	}
	
	.header-image{
		max-width:70px;
	}
	
	h2{
		font-size:30px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.header-image{
		max-width:70px;
	}
	
	h2{
		font-size:30px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}