<style>
	.masthead{
		padding-top:1rem;
		padding-bottom:1rem;
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<h4 class="card-title text-center">Bhagvad Gita Basic Course</h4>
				
				<div class="card-body">
					<img src="images/level-1.png" class="img-fluid" />
					
					<h5 class="card-title text-center">The Journey Of Self Discovery</h5>
					<p class="card-text">
						Course on the principles of Bhagvad Gita to quench our quest for Serenity, Joy & Purpose.
					</p>
				</div>
			
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s01.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s02.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
					
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s03.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s04.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
					
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s05.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s06.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
				</ul>
			
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="card">
				<h4 class="card-title text-center">Bhagvad Gita Overview Course</h4>
				
				<div class="card-body">
					<img src="images/level-2.jpg" class="img-fluid" />
					
					<h5 class="card-title text-center">The Journey Of Self Discovery</h5>
					<p class="card-text">
						Course on the principles of Bhagvad Gita to quench our quest for Serenity, Joy & Purpose.
					</p>
				</div>
			
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s01.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s02.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
					
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s03.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s04.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
					
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s05.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s06.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
				</ul>
			
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="card">
				<h4 class="card-title text-center">Bhagvad Gita Advanced Course</h4>
				
				<div class="card-body">
					<img src="images/level-3.jpg" class="img-fluid" />
					
					<h5 class="card-title text-center">The Journey Of Self Discovery</h5>
					<p class="card-text">
						Course on the principles of Bhagvad Gita to quench our quest for Serenity, Joy & Purpose.
					</p>
				</div>
			
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s01.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s02.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
					
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s03.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s04.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
					
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s05.png" class="img-fluid zoom" />
								</a>
							</div>
							
							<div class="col-md-6">
								<a href="#">
									<img src="images/level-1-s06.png" class="img-fluid zoom" />
								</a>
							</div>
						</div>
					</li>
				</ul>
			
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
		</div>
	</div>
</div>

<a class="next-section heartbeat" href="#">
	<i class="fas fa-angle-right"></i>
</a>