<div class="container text-center my-auto scale-in-center">
	<img id="landingImg" src="images/space-logo.png" class="img-fluid pulse-background" />
</div>

<div class="overlay"></div>

<a id="anchorHome" class="next-section heartbeat" href="#">
	<i class="fas fa-angle-right"></i>
</a>

<script>
	$('#anchorHome').on('click',function(e){
		$(".masthead").hide("slide", 1000, callBack);
	});
	
	function callBack(){
		$('.masthead').load("views/about.html");		
		$(".masthead").show('slide', {direction:'right'}, 1000);
		$('.masthead').css('background-image','linear-gradient(to right, #fff, #BADDFC)');
	}
</script>